.padded{
  padding-top:60px;
  padding-bottom:60px;
}
.expocicion{
  color: white;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-size: cover !important;
  position:relative
}
.btn-expo{
  background-color: white;
  color:#e82e2e ;

}
