hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    border-color: black;
}
body{

}
h3{
  font-family: 'VT323', monospace;
}
p{
  font-family: 'Gruppo', cursive;
}

.padded{
  padding-top: 150px;
}
