
.card {
  height: 300px;
  color: black;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title{
  // left: 10px;
  // top: 40px;
  // width: 400px;
}
.card-title h6{
  font-size: 30px;
}
.card-btn{

  bottom: 40px;
  right: 40px;
}

.card img{
  height: 200px;
  -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
